:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-family: 'League Spartan', sans-serif;;
}

.content-container {
    margin: 50px 30px;
    margin-top: 50px;
    margin-left: 30px;
}

header img {
    width: 390px;
    margin-bottom: 60px;
}

section h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    color: var(--title-color);

    margin-bottom: 15px;
}

section p.bold {
    font-weight: bold;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-color);
}

section#form {
    position: relative;
}

section#form p {
    margin-top: 50px;
    margin-bottom: 15px;
}

section#form .email-form {
    position: absolute;
    display: flex;
}

section#form .rectangle {
    width: 5px;
    height: 48px;
    background-color: var(--title-color);
}

section#form #email {
    border: 0;
    width: 750px;
    height: 48px;
    padding: 10px;
    color: #000;
    font-size: 14px;
    outline: 0;
}

#email::-webkit-input-placeholder {
    color: var(--form-color);
}

section#form .btn-send {
    outline: 0;
    border: 0;
    width: 48px;
    height: 48px;
    background-color: var(--bg-button-color);
    padding-top: 3px;

    cursor: pointer;
}

.link {
    padding-top: 100px;
}

.link a {
    display: flex;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--bg-button-color);
}

.link a img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.link a:hover {
    text-decoration: underline;
}

.item2 {
    background-image: url('../images/read_news.jpg');
    background-size: cover;
    background-position: center;    
}